body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

h3 {
    font-size: 4rem;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}