.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

input,
label {
    transition: 0.4s ease;
}

label {
    transform: translate(-100%, 50%) scale(1.02);
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: text;
    transform-origin: left top;
    color: #757575;
}
input {
    position: relative;
    font-size: 1.2em;
    padding: 30px 10px 10px 10px;
    border: none;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    border-radius: 5px 5px 0 0;
}


input::placeholder {
    opacity: 0;
}

input:focus,
input:not(:placeholder-shown) {
    border-bottom: 2px solid #000;
}

input:not(:placeholder-shown) ~ label,
input:focus ~ label {
    transform: translate(-100%, -50%) scale(0.8);
    padding-left: 0px;
    color: black;
}